# Django
DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=True
DJANGO_ENV=dev
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database (PostgreSQL - PROD)
POSTGRES_DB=kanmind
POSTGRES_USER=kanmind_user
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
